*{
	font-family: cursive;
}

body{
	background-image: url("bg.png");
	color:white;
	text-shadow: 3px 3px 5px black;
	overflow-x: hidden;
	overflow-y: hidden;
}

#mejew{
	border: 59px solid transparent;
	border-image: url("/web/20250326111201im_/https://bonzi.nigger.email/frame.png") 59;
	filter: drop-shadow(7px 7px 10px black);
}

@keyframes fall 
{
	from {top:calc(0% - 64px);}
	to {top: 100%;}
}

@keyframes shake
{
	0% {transform: translateX(-20px);}
	50% {transform: translateX(20px);}
	100% {transform: translateX(-20px);}
}

@keyframes run
{
	from{left:calc(0% - 154px);}
	to{left:100%;}
}

@keyframes run2
{
	0% {transform: translateY(-10px);}
	50% {transform: translateY(10px);}
	100% {transform: translateY(-10px);}
}

.kosherz {
	position:absolute;
	z-index: 100;
	top: -64px;
	animation: 6s fall infinite, 1.5s shake infinite;
	animation-timing-function: linear, ease-in-out;
	filter: drop-shadow(3px 3px 5px black);
	user-select: none;
}

.joely {
	position:absolute;
	bottom: -10px;
	animation: 5s run infinite, 0.3s run2 infinite;
	animation-timing-function: linear, ease-in-out;
	filter: drop-shadow(3px 3px 5px black);
	user-select: none;
}

.kosherz:nth-child(even){
	animation: 4s fall infinite, 1.5s shake infinite;
	animation-timing-function: linear, ease-in-out;
}
/*
     FILE ARCHIVED ON 11:12:01 Mar 26, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:08:45 Oct 18, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.578
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 35.983
  LoadShardBlock: 136.801 (3)
  PetaboxLoader3.datanode: 170.503 (4)
  load_resource: 397.096
  PetaboxLoader3.resolve: 199.07
*/